---
layout: default
---

<main class="container" role="main">
    <h1>Post view</h1>
    <div class="card border-{{ page.class }}">
        <div class="card-header">
            <div class="d-flex justify-content-between vertical-center">
                <div>
                    {{ page.date | date: "%-d %b %Y, %H:%M" }}
                </div>
                <div class="icon">
                    {% for post_tag in page.tags %}
                    {% for data_tag in site.data.tags %}
                    {% if data_tag.slug == post_tag %}
                    {% assign tag = data_tag %}
                    {% endif %}
                    {% endfor %}
                    {% if tag and tag.system %}
                    <div>
                        <i class="fas fa-{{ tag.icon }}"></i>
                    </span>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                {{ page.title }}
            </h2>
            <p class="card-text">
                {{ content }}
            </p>
        </div>
    </div>
</main>